table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #dee2e6;
}

th,
td {
  padding: 0.5rem;
  text-align: left;
}

th {
  background-color: #e9ecef;
}

th:first-child,
td:first-child {
  border-left: none;
}

th:last-child,
td:last-child {
  border-right: none;
}
